@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
body{
    background: rgb(13, 39, 48);
    overflow-y: auto;
}
header {
    background: rgb(118, 155, 223);
    box-shadow: 1px 1px 5px #000;
}
#registrar li a{
    color: #000;
    font: bold 20px Verdana;
    text-decoration: none;
}
#cabecera{
    font-family: 'Luckiest Guy';
    background: darken(rgb(19, 80, 131),15%);
    color: #111;
    color: rgb(194, 60, 60);
    text-shadow: 5px 5px rgb(195, 230, 43);
}
#registrar {
    font: bold 20px Verdana;
}
#redes {
    font: bold 20px Verdana;
}
#menu ul a{
    color: #000;
    text-decoration: none;
    font: bold 20px Verdana;
    border-bottom: 6px solid transparent;
    transition: border-bottom .7s;
    padding: 12px 30px 12px 20px;
}
#menu ul a:hover{
    border-bottom: 8px solid rgb(195, 230, 43);
}

#publicidad{
    background: rgb(118, 155, 223);
    box-shadow: 1px 1px 5px #000;
}

#info{
    background: rgb(118, 155, 223);
    box-shadow: 1px 1px 5px #000;
    font-family: Georgia, Times, serif;
    font-size: 1.2rem;
    line-height: 1.4em;
}
#lateral{
    background: rgb(118, 155, 223);
    box-shadow: 1px 1px 5px #000;
}
#lateral ul a{
    color: #000;
    text-decoration: none;
    font: bold 18px Verdana;
    border-bottom: 6px solid transparent;
    transition: border-bottom .3s;
    padding: 0px 20px;
}
#lateral iframe{
    margin-left: 5px;
}
.footer{
    background-color: #333333;
    width: 100%;
    color: #ffffff;
}
.footer .container{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI Ligth', arial, sans-serif;
    padding: 8px 4px;
}
.footer a{
    color: #e44e2d;
}